@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.white {
  color: var(--color-white);
}

.white-bg {
  background-color: var(--color-white);
}


.white-h1 h1, .white-h2 h2, .white-h3 h3, .white-h4 h4, .white-h5 h5, .white-p p {
  color: var(--color-white);
}




.line {
  width: 40px !important;
  height: 1px;
  background-color: var(--color-black);
}












.active {
  background-color: var(--color-white);
 
}

.active  {
  color: #000 !important;
}










.fullscreen-modal {
  max-width: 100% !important;
  height: 100% !important;
  margin: 0;
}

 .modal-body {
  height: 100% !important;
}

.modal-dialog {
  margin: 0 !important;
  height: 100% !important;
}

.modal-content {
  height: 100% !important;
  border-radius: 0;
}

.modal-gallery {
  position: relative;
  width: 80% !important;
  height: 100%;
  margin: auto;
  overflow: hidden;

 
  text-align: center;

  
}


.modal-gallery img {
  height: 100%;
  margin: auto !important;
  transition: transform 1.6s ease-in-out !important;
} 

.controls {
  
  z-index: 10;
  top: 100px;

  width: 90%;
  justify-content: space-between;
}

.modal-prev {
  position: absolute;
  left: 5px;
  top: 45%;
}

.modal-next {
  position: absolute;
  right: 5px;
  top: 45%;
  z-index: 20;
}



.modal-prev img, .modal-next img {
  width: 50px;
}

@media (max-width: 768px) {
  .modal-gallery {
    width: 100% !important;
  }



  .modal-prev img, .modal-next img {
    width: 20px;
  }
}



.my-modal-content, .my-modal-header {
  background-color: #000 !important;
  height: auto !important;
}

.my-modal-header button {
  background-color: var(--color-orange);
}


.my-modal-header .btn-close {
  padding: 0;
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  
}

